/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000;
    background-image:linear-gradient(top, #000 0%, #00f 51%);
    background-image:-webkit-linear-gradient(top, #000 0%, #00f 51%);
    background-image:-ms-linear-gradient(top, #000 0%, #00f 51%);
    background-image:-webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, white),
            color-stop(0.51, white)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

html { height:100%; }

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.custom-header{
    background: rgba(255,255,255,0.2) !important;
    color: white !important;
    text-shadow: none !important;
    border-style: none !important;
}

.prepage {
    background: url("../img/background/prepage.png") !important;
    background-size:auto;
}

.bg {
    background: url("../img/background/hintergrund-neutral_800.png") !important;
    background-size:auto;
}

.bg-cat {
    background: url("../img/background/Hintergrund-Katze_800.png") !important;
    background-size:auto;
}

.bg-dog {
    background: url("../img/background/Hintergrund-Hund_800.png") !important;
    background-size:cover;
}

.bg-rabbit {
    background: url("../img/background/Hintergrund-Kleintiere_800.png") !important;
    background-size:auto;
}

.btn-goto-menu{
    background-image: url("../img/icons/button-lass-uns-helfen.png") ;
    background-color: transparent !important;
    height: 55px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 240px;
    background-repeat: no-repeat;
    border-style: none !important;
}



.sus{
    background-image: url("../img/icons-neu/schenken-und-spenden.png")!important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 145px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 0 !important;

}

.tht{
    background-image: url("../img/icons/tierheimtiere.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 110px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 1px !important;
}

.thb{
    background-image: url("../img/icons-neu/tierheim-berg.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 0 !important;
}

.sof{
    background-image: url("../img/icons-neu/so-dunktionierts.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 1px !important;
}

.mg{
    background-image: url("../img/icons-neu/meine-geschenke.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 0px 0 !important;
}

.mpt{
    background-image: url("../img/icons-neu/mein-patentier.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 0px 1px !important;
}

@media screen and (min-height: 512px) {

    .sus{
        background-image: url("../img/icons/schenken-und-spenden.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 145px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .tht{
        background-image: url("../img/icons/tierheimtiere.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 115px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .thb{
        background-image: url("../img/icons/tierheim-berg.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 100px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .sof{
        background-image: url("../img/icons/so-dunktionierts.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 125px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .mg{
        background-image: url("../img/icons/meine-geschenke.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 115px;
        background-repeat: no-repeat;
        border-width: 0 0 0 0 !important;
    }

    .mpt{
        background-image: url("../img/icons/mein-patentier.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 115px;
        background-repeat: no-repeat;
        border-width: 0 0 0 1px !important;
    }
}

@media screen and (min-height: 800px) {

    .sus{
        background-image: url("../img/icons/schenken-und-spenden.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 230px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .tht{
        background-image: url("../img/icons/tierheimtiere.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 184px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .thb{
        background-image: url("../img/icons/tierheim-berg.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 155px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .sof{
        background-image: url("../img/icons/so-dunktionierts.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 182px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .mg{
        background-image: url("../img/icons/meine-geschenke.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 190px;
        background-repeat: no-repeat;
        border-width: 0 0 0 0 !important;
    }

    .mpt{
        background-image: url("../img/icons/mein-patentier.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 190px;
        background-repeat: no-repeat;
        border-width: 0 0 0 1px !important;
    }
}

@media screen and (min-height: 1100px) {

    .sus{
        background-image: url("../img/icons/schenken-und-spenden.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 310px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .tht{
        background-image: url("../img/icons/tierheimtiere.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 252px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .thb{
        background-image: url("../img/icons/tierheim-berg.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 212px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .sof{
        background-image: url("../img/icons/so-dunktionierts.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 262px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .mg{
        background-image: url("../img/icons/meine-geschenke.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 236px;
        background-repeat: no-repeat;
        border-width: 0 0 0 0 !important;
    }

    .mpt{
        background-image: url("../img/icons/mein-patentier.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 236px;
        background-repeat: no-repeat;
        border-width: 0 0 0 1px !important;
    }
}

.no-margin{
    margin: 0 !important;
    opacity: 1 !important;
}

@font-face{
    font-family: 'FiraSans-Light';
    src: url(../fonts/FiraSans-Light.otf);
}

@font-face{
    font-family: 'FiraSans-Hair';
    src: url(../fonts/FiraSans-Hair.otf);
}


@font-face{
    font-family: 'FiraSans-ultralight';
    src: url(../fonts/FiraSans-UltraLight.otf);
}

.intro{
    font-family: ultralight;
    font-size: 2em;
    text-align: center;
    color: white;
    text-transform: none !important;
}

.logo{
    display: block;
    margin-top:20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}


.content {
    padding: 0 !important;
    position: absolute !important;
    top : 43px !important;
    right : 0 !important;
    /* bottom : 40px !important;*/
    left : 0 !important;
}

.videoWrapper {
}

.blub {
    position: absolute;
    display: block;
    top: 20px;
    left: 0;
    width: 100%;
}

#navigator {
    width: 100%;
    padding: 0;
    height: 14px;
    z-index: 999;
}
#navigator a {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 1px 1px rgba(255,255,255,0.4);
    margin-right: 10px;
}
#navigator a {
    background: rgba(255,255,255,0.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,0.4);
}
#navigator a.activeSlide {
    background: rgba(255,255,255,1);
    box-shadow: 0 0 1px 1px rgba(255,255,255,1);
}

.pos{
    -webkit-transform: translateZ(0);
    position:fixed;
}

.no-border{
    border-style:none !important;
}

.ui-page-header-fixed{
    padding-top: 3.5em !important;
}

.linie{
    border-top-style: solid !important;
    border-top-color: white;
    border-width: thin;
    margin-left: 30px !important;
    margin-right: 30px !important;
    padding-bottom: 25px !important;
    padding-top: 25px !important;

}

/* #container div with absolute position and 100% width and height so it takes up whole window */
#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dog-txt {
    text-transform: none;
    font-family: FiraSans-Light;
    color: whitesmoke;
    width: 250px;
    margin: 0px auto;
    text-shadow: none !important;

}

.cat-txt{
    text-transform: none;
    font-family: FiraSans-Light;
    color: white;
    width: 335px!important;
    margin: 25px auto;
    text-shadow: none !important;

}

.rabbit-txt{
    text-transform: none;
    font-family: FiraSans-Light;
    color: white;
    width: 335px;
    margin: 25px auto;
    text-shadow: none !important;

}

.btn-pos{
    margin: 50px auto!important;
    width: 200px;
}

.btn-style{
    color:red!important;
    font-size: large;
    border-radius: 7px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.fullscreen{

    position: absolute;
    top: 0; /*your header height*/
    right: 0;
    bottom: 0px; /*your footer height */
    left: 0;
    background: white;
    padding: 0 !important;

}

.swiper-pagination{
    position: initial !important;
    border-style: solid;
    border-width: 1px 0 0 0;
    padding: 20px 0px 20px 0px!important;
    border-color: white !important;
    opacity: 0.7;
}

.swiper-pagination-bullet{
    margin: 0 3px !important;

}

.swiper-slide {
    display: block !important;
}

@media only screen and (min-width: 480px) {
    .images{
        width:50% !important;
    }

    .toppadding{
        padding-top: 15px;
    }
}

@media only screen and (orientation: landscape) {
    .toppadding{
        padding-top: 0px !important;
    }
}

.images{
    width:100%;
}
@media only screen and (orientation: portrait) {
    .toppadding{
        padding-top: 25px;
    }

}

.ui-footer{
    border-style: none !important;
    background-color: transparent !important;
}

@media screen and (min-width: 480px) {
    .spezial-btn {
        margin: -84px 15px 0 484px !important;
    }
}

.smart-padding-top{
    padding-top:100px
}


.grey{
    z-index: 10;
    background: rgba(0, 0, 0, 1);
}

.transparent{
    opacity: 0.35;
}

#overlay {
    margin-top: 50%;
    margin-left: 10%;
    color: #fff;
    text-align: center;
    font-family: FiraSans-Light;
    text-transform: none;
    font-size: larger;

}

.popup-btn{
    margin-top: 20px !important;
    background-color: transparent!important;
    color: #FFF !important;
    text-shadow: none !important;
    border-radius: 5px;
}

div.callout {
    width: 200px;
    float: left;
}

div.callout {
    background-color: #444;
    background-image: -moz-linear-gradient(top, #444, #444);
    position: relative;
    color: #ccc;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #999;
    margin: 25px;
    min-height: 50px;
    border: 1px solid #333;
    text-shadow: 0 0 1px #000;
    position: absolute;
    z-index: 500;

    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

.callout::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.8em solid transparent;
    position: absolute;
}

.callout.top::before {
    left: 45%;
    bottom: -45px;
    border-top: 30px solid #444;
}

.callout.bottom::before {
    left: 45%;
    top: -42px;
    border-bottom: 30px solid #444;
}

.callout.left::before {
    right: -20px;
    top: 40%;
    border-left: 10px solid #444;
}

.callout.right::before {
    left: -20px;
    top: 40%;
    border-right: 10px solid #444;
}

.callout.top-left::before {
    left: 7px;
    bottom: -20px;
    border-top: 10px solid #444;
}

.callout.top-right::before {
    right: 7px;
    bottom: -20px;
    border-top: 10px solid #444;
}


#boxoben,
#boxmitte,
#boxunten{
    margin: 0px;
    padding: 0px;
    height: 199px;
}

.icon-zub{
    margin: 25px auto;
    width: 35%;
    display: block
}

.owl-item{
    width: 90px !important;
    margin-right: 15px !important;
}

.owl-wrapper{
    margin-right: 15px !important;
}

.tht-img{
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 25px;
}

.tht-imgs{
    border-bottom: solid 1px white !important;
    margin-bottom: 50px;
    width: 85%;
    display: block;
    margin: 0 auto 30px;

}

.icon-nuw{
    margin: 40px auto;
    width: 50%;
    display: block
}

.icon-gup{
    margin: 35px auto;
    width: 40%;
    display: block
}

.ui-icon-myapp-menu {
    background-image: url("../img/icons/menue.png");
    background-color: transparent !important;
    background-position: center;
    background-clip:content-box;
    background-size: 34px;
    background-repeat: no-repeat;
    border-style: none !important;
    margin-left: 10px!important;
}

.ui-btn-icon-notext{
    background-color: transparent !important;
}

.ui-btn-icon-notext:after{
    background-color: transparent !important;
}

.mit-bg-rabbit {
    background: url("../img/background/Hintergrund-Kleintiere_800_r.png") !important;
    background-size:auto;
}
.mit-bg-rabbit2 {
    background: url("../img/background/Hintergrund-Kleintiere_800_r2.png") !important;
    background-size:auto;
}

.zub-footer{
    background-color: rgba(255,255,255,0.3)!important;
}
.h1-zub{
    margin-top:10px!important;
}

a:link { color: transparent!important }
a:visited { color: transparent!important; }
a:hover { color: pink }
a:focus { color: transparent!important; }
a:active { color: transparent!important }
a:visited:hover{color:transparent!important }

<!-- -->




.spielen{
    background-image: url("../img/icons/spielen.png")!important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 145px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 0 !important;

}

.streicheln{
    background-image: url("../img/icons/streicheln.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 110px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 1px !important;
}

.spazieren{
    background-image: url("../img/icons/spazieren-gehen.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 0 !important;
}

.versorgen{
    background-image: url("../img/icons/versorgen.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 1px !important;
}

@media screen and (min-height: 512px) {

    .spielen{
        background-image: url("../img/icons/spielen.png") !important;
        background-color: transparent !important;
        height: 237.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 123px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .streicheln{
        background-image: url("../img/icons/streicheln.png") !important;
        background-color: transparent !important;
        height: 237.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 141px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .spazieren{
        background-image: url("../img/icons/spazieren-gehen.png") !important;
        background-color: transparent !important;
        height: 236.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 100px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .versorgen{
        background-image: url("../img/icons/versorgen.png") !important;
        background-color: transparent !important;
        height: 236.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 72px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

}

@media screen and (min-height: 800px) {

    .spielen{
        background-image: url("../img/icons/spielen.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 230px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .streicheln{
        background-image: url("../img/icons/streicheln.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 184px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .spazieren{
        background-image: url("../img/icons/spazieren-gehen.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 155px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .versorgen{
        background-image: url("../img/icons/versorgen.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 182px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

}

@media screen and (min-height: 1100px) {

    .spielen{
        background-image: url("../img/icons/spielen.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 310px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .streicheln{
        background-image: url("../img/icons/streicheln.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 252px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .spazieren{
        background-image: url("../img/icons/spazieren-gehen.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 212px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .versorgen{
        background-image: url("../img/icons/versorgen.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 262px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

}

<!-- -->


.wasser{
    background-image: url("../img/icons/wasser.png")!important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 145px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 0 !important;

}

.leckerchen{
    background-image: url("../img/icons/leckerchen.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 110px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 1px !important;
}

.futter{
    background-image: url("../img/icons/futter.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 0 !important;
}

.schlafplatz{
    background-image: url("../img/icons/schlafplatz.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 1px !important;
}

@media screen and (min-height: 512px) {

    .wasser{
        background-image: url("../img/icons/wasser.png") !important;
        background-color: transparent !important;
        height: 235.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 104px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .leckerchen{
        background-image: url("../img/icons/leckerchen.png") !important;
        background-color: transparent !important;
        height: 235.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 141px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .futter{
        background-image: url("../img/icons/futter.png") !important;
        background-color: transparent !important;
        height: 236.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 100px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .schlafplatz{
        background-image: url("../img/icons/schlafplatz.png") !important;
        background-color: transparent !important;
        height: 236.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 147px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

}

@media screen and (min-height: 800px) {

    .wasser{
        background-image: url("../img/icons/wasser.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 230px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .leckerchen{
        background-image: url("../img/icons/leckerchen.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 184px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .futter{
        background-image: url("../img/icons/futter.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 155px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .schlafplatz{
        background-image: url("../img/icons/schlafplatz.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 182px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

}

@media screen and (min-height: 1100px) {

    .wasser{
        background-image: url("../img/icons/wasser.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 310px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .leckerchen{
        background-image: url("../img/icons/leckerchen.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 252px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .futter{
        background-image: url("../img/icons/futter.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 212px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .schlafplatz{
        background-image: url("../img/icons/schlafplatz.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 262px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

}






















<!-- -->


.plaster{
    background-image: url("../img/icons/icon-pflaster.png")!important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 145px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 0 !important;

}

.medikamente{
    background-image: url("../img/icons/medikamente.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 110px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 1px !important;
}

.impfung{
    background-image: url("../img/icons/impfung.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 0 !important;
}

.operation{
    background-image: url("../img/icons/operation.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 1px !important;
}

@media screen and (min-height: 512px) {

    .plaster{
        background-image: url("../img/icons/icon-pflaster.png") !important;
        background-color: transparent !important;
        height: 235.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 131px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .medikamente{
        background-image: url("../img/icons/medikamente.png") !important;
        background-color: transparent !important;
        height: 235.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 134px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .impfung{
        background-image: url("../img/icons/impfung.png") !important;
        background-color: transparent !important;
        height: 236.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 125px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .operation{
        background-image: url("../img/icons/operation.png") !important;
        background-color: transparent !important;
        height: 236.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 141px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

}

@media screen and (min-height: 800px) {

    .pflaster{
        background-image: url("../img/icons/icon-pflaster.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 230px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .medikamente{
        background-image: url("../img/icons/medikamente.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 184px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .impfung{
        background-image: url("../img/icons/impfung.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 155px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .operation{
        background-image: url("../img/icons/operation.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 182px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

}

@media screen and (min-height: 1100px) {

    .pflaster{
        background-image: url("../img/icons/icon-pflaster.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 310px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .impfung{
        background-image: url("../img/icons/impfung.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 252px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .medikamente{
        background-image: url("../img/icons/medikamente.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 212px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .operation{
        background-image: url("../img/icons/operation.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 262px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

}

#back-btn{
    width: 30px;
    margin: 12px 12px;
}

.gift-leckerchen{
    width: 155px;
    display: block;
    margin: 0 auto;
}

.gift-leckerchen-title{
    display: block;
    margin: 0 auto;
    width: 180px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    text-shadow: none;
    font-family: FiraSans-Light;
}

.gift-text{
    display: block;
    margin: 5px auto;
    width: 260px;
    text-transform: none;
    text-shadow: none;
    color: white;
    font-family: FiraSans-Light;
    font-size: small;
}


.gift-subtitle{
    display: block;
    margin: 5px auto;
    width: 260px;
    text-transform: none;
    text-shadow: none;
    color: white;
    font-family: FiraSans-Light;
    font-size: small;
}

.gift-schenken{
    width: 238px;
    display: block;
    margin: 5px auto;
}

.fullscreen-video{
    position: absolute;
    top: 88px; /*your header height*/
    right: 0;
    bottom: 44px; /*your footer height */
    left: 0;
}

.overlay-back{
    position: absolute;
    z-index:100;
}

#over-back-btn{
    width: 30px;
    margin: 12px 12px;
}

.patentier-txt{
    width: 345px;
    color: white;
    text-shadow: none;
    font-family: FiraSans-Light;
    text-transform: none;
    margin: 25px auto;
    text-align: center;
}

.img-paten{
    width: 50%;
    display: block;
    margin: 25px auto;
}




video {
    position: fixed;
    /* top: 50%; */
    /* left: 50%; */
    /* min-width: 100%; */
    min-height: 100%;
    width: 100%;
    height: 81%;
   /* transform: scaleX(1.3);*/
    /* z-index: -100; */
    /* background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat; */
    /* background-size: cover; */
    /* transition: 1s opacity; */

}

#main-page3 button {
    display: block;
    border: none;
    height: 519px;
    font-size: 1.3rem;
    background: rgba(255,255,255,0);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
    margin:0 !important;
}

#main-page3 .share-replay{
    display: block;
    border: none;
    height: 259px;
    font-size: 1.3rem;
    background: rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
    margin: 0 !important;
    box-shadow: none !important;
}

.img-replay{
    width: 80%;
    margin-top: 128px;
}

.h1-so-ge{
    font-family: FiraSans-Light;
    color: white;
    text-transform: none;
    font-size: xx-large;
}

.img-share{
    width: 80%;
    margin-bottom: 128px;
}

.line{
    width: 90%;
    border-color: white;
    border-width: 1px;
}

.so-ge{
    width: 301px;
    display: block;
    margin: 0 auto 8px;
    text-align: center;
    font-family: FiraSans-Light;
    color: white;
    text-transform: none;
}

.pla{
    width: 25%;
}


.thb-txt{
    width: 320px;
    display: block;
    margin: 25px auto;
    color: white;
    text-shadow: none;
    font-family: FiraSans-Light;
    text-transform: none;
}

.ui-overlay-a{background-color: #000;}
.ui-overlay-b{background-color: #000;}
.ui-overlay-c{background-color: #000;}
.ui-overlay-d{background-color: #000;}
.ui-overlay-e{background-color: #000;}