/* glue: 0.4 hash: 7d8a308dcc */
.sprite-alpha-o_c20d3eb1bc28559b-9,
.sprite-alpha-o_c20d3eb1bc28559b-8,
.sprite-alpha-o_c20d3eb1bc28559b-7,
.sprite-alpha-o_c20d3eb1bc28559b-6,
.sprite-alpha-o_c20d3eb1bc28559b-5,
.sprite-alpha-o_c20d3eb1bc28559b-4,
.sprite-alpha-o_c20d3eb1bc28559b-3,
.sprite-alpha-o_c20d3eb1bc28559b-25,
.sprite-alpha-o_c20d3eb1bc28559b-24,
.sprite-alpha-o_c20d3eb1bc28559b-23,
.sprite-alpha-o_c20d3eb1bc28559b-22,
.sprite-alpha-o_c20d3eb1bc28559b-21,
.sprite-alpha-o_c20d3eb1bc28559b-20,
.sprite-alpha-o_c20d3eb1bc28559b-2,
.sprite-alpha-o_c20d3eb1bc28559b-19,
.sprite-alpha-o_c20d3eb1bc28559b-18,
.sprite-alpha-o_c20d3eb1bc28559b-17,
.sprite-alpha-o_c20d3eb1bc28559b-16,
.sprite-alpha-o_c20d3eb1bc28559b-15,
.sprite-alpha-o_c20d3eb1bc28559b-14,
.sprite-alpha-o_c20d3eb1bc28559b-13,
.sprite-alpha-o_c20d3eb1bc28559b-12,
.sprite-alpha-o_c20d3eb1bc28559b-11,
.sprite-alpha-o_c20d3eb1bc28559b-10,
.sprite-alpha-o_c20d3eb1bc28559b-1,
.sprite-alpha-o_c20d3eb1bc28559b-0{background-image:url('alpha.png');background-repeat:no-repeat}
.sprite-alpha-o_c20d3eb1bc28559b-9{background-position:0px 0px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-8{background-position:-1182px 0px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-7{background-position:0px -664px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-6{background-position:-1182px -664px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-5{background-position:0px -1328px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-4{background-position:-1182px -1328px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-3{background-position:-2364px 0px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-25{background-position:-2364px -664px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-24{background-position:-2364px -1328px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-23{background-position:0px -1992px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-22{background-position:-1182px -1992px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-21{background-position:-2364px -1992px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-20{background-position:0px -2656px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-2{background-position:-1182px -2656px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-19{background-position:-2364px -2656px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-18{background-position:-3546px 0px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-17{background-position:-3546px -664px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-16{background-position:-3546px -1328px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-15{background-position:-3546px -1992px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-14{background-position:-3546px -2656px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-13{background-position:0px -3320px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-12{background-position:-1182px -3320px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-11{background-position:-2364px -3320px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-10{background-position:-3546px -3320px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-1{background-position:0px -3984px;width:1182px;height:664px;}
.sprite-alpha-o_c20d3eb1bc28559b-0{background-position:-1182px -3984px;width:1182px;height:664px;}
