/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.custom-header{
    background: rgba(255,255,255,0.4) !important;
    color: white !important;
    text-shadow: none !important;
}

.bg {
    background: url("../img/background/hintergrund-neutral.jpg");
    background-size:auto;
}

.bg-cat {
    background: url("../img/background/Hintergrund-Katze.jpg");
    background-size:auto;
}

.bg-dog {
    background: url("../img/background/Hintergrund-Hund.jpg");
    background-size:auto;
}

.bg-rabbit {
    background: url("../img/background/Hintergrund-Kleintiere.jpg");
    background-size:auto;
}



.sus{
    background-image: url("../img/icons-neu/schenken-und-spenden.png")!important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 145px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 0 !important;

}

.tht{
    background-image: url("../img/icons/tierheimtiere.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 110px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 1px !important;
}

.thb{
    background-image: url("../img/icons-neu/tierheim-berg.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 0 !important;
}

.sof{
    background-image: url("../img/icons-neu/so-dunktionierts.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 1px 1px !important;
}

.mg{
    background-image: url("../img/icons-neu/meine-geschenke.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 0px 0 !important;
}

.mpt{
    background-image: url("../img/icons-neu/mein-patentier.png") !important;
    background-color: transparent !important;
    height: 132.5px;
    display:block;
    margin: 0 auto;
    background-position: center;
    background-clip:content-box;
    background-size: 190px;
    background-repeat: no-repeat;
    border-width: 0 0 0px 1px !important;
}

@media screen and (min-height: 512px) {

    .sus{
        background-image: url("../img/icons/schenken-und-spenden.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 145px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .tht{
        background-image: url("../img/icons/tierheimtiere.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 115px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .thb{
        background-image: url("../img/icons/tierheim-berg.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 100px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .sof{
        background-image: url("../img/icons/so-dunktionierts.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 125px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .mg{
        background-image: url("../img/icons/meine-geschenke.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 115px;
        background-repeat: no-repeat;
        border-width: 0 0 0 0 !important;
    }

    .mpt{
        background-image: url("../img/icons/mein-patentier.png") !important;
        background-color: transparent !important;
        height: 175.5px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 115px;
        background-repeat: no-repeat;
        border-width: 0 0 0 1px !important;
    }
}

@media screen and (min-height: 800px) {

    .sus{
        background-image: url("../img/icons/schenken-und-spenden.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 230px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .tht{
        background-image: url("../img/icons/tierheimtiere.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 184px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .thb{
        background-image: url("../img/icons/tierheim-berg.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 155px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .sof{
        background-image: url("../img/icons/so-dunktionierts.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 182px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .mg{
        background-image: url("../img/icons/meine-geschenke.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 190px;
        background-repeat: no-repeat;
        border-width: 0 0 0 0 !important;
    }

    .mpt{
        background-image: url("../img/icons/mein-patentier.png") !important;
        background-color: transparent !important;
        height: 229px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 190px;
        background-repeat: no-repeat;
        border-width: 0 0 0 1px !important;
    }
}

@media screen and (min-height: 1100px) {

    .sus{
        background-image: url("../img/icons/schenken-und-spenden.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 310px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .tht{
        background-image: url("../img/icons/tierheimtiere.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 252px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .thb{
        background-image: url("../img/icons/tierheim-berg.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 212px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 0 !important;
    }

    .sof{
        background-image: url("../img/icons/so-dunktionierts.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 262px;
        background-repeat: no-repeat;
        border-width: 0 0 1px 1px !important;
    }

    .mg{
        background-image: url("../img/icons/meine-geschenke.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 236px;
        background-repeat: no-repeat;
        border-width: 0 0 0 0 !important;
    }

    .mpt{
        background-image: url("../img/icons/mein-patentier.png") !important;
        background-color: transparent !important;
        height: 389px;
        display:block;
        margin: 0 auto;
        background-position: center;
        background-clip:content-box;
        background-size: 236px;
        background-repeat: no-repeat;
        border-width: 0 0 0 1px !important;
    }
}

.no-margin{
    margin: 0 !important;
}

@font-face{
    font-family: 'FiraSans-Light';
    src: url(../fonts/FiraSans-Light.otf);
}

@font-face{
    font-family: 'FiraSans-Hair';
    src: url(../fonts/FiraSans-Hair.otf);
}


@font-face{
    font-family: 'FiraSans-ultralight';
    src: url(../fonts/FiraSans-UltraLight.otf);
}

.intro{
    font-family: ultralight;
    font-size: 2em;
    text-align: center;
    color: white;
    text-transform: none !important;
}

.logo{
    display: block;
    margin-top:20%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}


#content {
    padding: 0;
    position: absolute !important;
    top : 43px !important;
    right : 0;
   /* bottom : 40px !important;*/
    left : 0 !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 90px;
    height: 0;
}

.videoWrapper video {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#navigator {
    width: 100%;
    padding: 0;
    height: 14px;
    z-index: 999;
}
#navigator a {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 1px 1px rgba(255,255,255,0.4);
    margin-right: 10px;
}
#navigator a {
    background: rgba(255,255,255,0.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,0.4);
}
#navigator a.activeSlide {
    background: rgba(255,255,255,1);
    box-shadow: 0 0 1px 1px rgba(255,255,255,1);
}

.pos{
    -webkit-transform: translateZ(0);
    position:fixed;
}

.no-border{
    border-style:none !important;
}

.ui-page-header-fixed{
    padding-top: 3.5em !important;
}

.linie{
    border-top-style: solid !important;
    border-top-color: white;
    border-width: thin;
    margin-left: 30px !important;
    margin-right: 30px !important;
    padding-bottom: 25px !important;
    padding-top: 25px !important;

}

/* #container div with absolute position and 100% width and height so it takes up whole window */
#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dog-txt {
    text-transform: none;
    font-family: FiraSans-Light;
    color: white;
    width: 175px;
    margin: 25px auto;
    text-shadow: none !important;

}

.cat-txt{
    text-transform: none;
    font-family: FiraSans-Light;
    color: white;
    width: 290px;
    margin: 25px auto;
    text-shadow: none !important;

}

.rabbit-txt{
    text-transform: none;
    font-family: FiraSans-Light;
    color: white;
    width: 290px;
    margin: 25px auto;
    text-shadow: none !important;

}

.btn-pos{
    margin: 50px auto!important;
    width: 200px;
}

.btn-style{
    color:red!important;
    font-size: large;
    border-radius: 7px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
